/* 
    Brand Colors
*/
$color-brand-01-lightest:   #daf0ee;
$color-brand-01-light:      #DAFFFB;
$color-brand-01-normal:     #64CCC5;
$color-brand-01-dark:       #176B87;
$color-brand-01-darkest:    #001C30;

$color-brand-02-lightest:   #adcabf;
$color-brand-02-light:      #93B1A6;
$color-brand-02-normal:     #5C8374;
$color-brand-02-dark:       #183D3D;
$color-brand-02-darkest:    #040D12;

$color-brand-03-lightest:   #f5f2f2;
$color-brand-03-light:      #F1EFEF;
$color-brand-03-normal:     #CCC8AA;
$color-brand-03-dark:       #7D7C7C;
$color-brand-03-darkest:    #191717;

$color-brand-04-lightest:   #ffe3cb;
$color-brand-04-light:      #E5C3A6;
$color-brand-04-normal:     #7C81AD;
$color-brand-04-dark:       #4B527E;
$color-brand-04-darkest:    #2E4374;

$color-brand-05-lightest:   #f799e5;
$color-brand-05-light:      #FE7BE5;
$color-brand-05-normal:     #974EC3;
$color-brand-05-dark:       #504099;
$color-brand-05-darkest:    #313866;

/* 
    Sematantic Colors
*/
$color-semantic-info-light: 	#D2E1FA;
$color-semantic-info-normal:	#0159EF;
$color-semantic-info-dark:  	#2B1BBE;

$color-semantic-success-light:  #E3FAE1;
$color-semantic-success-normal: #1FAD2D;
$color-semantic-success-dark:   #09644E;

$color-semantic-warning-light: 	#FEF4D8;
$color-semantic-warning-normal: #F28E02;
$color-semantic-warning-dark: 	#8C4000;

$color-semantic-danger-light: 	#FDEBE4;
$color-semantic-danger-normal: 	#DB2531;
$color-semantic-danger-dark: 	#830C31;

/* 
    Neutral Colors
*/
$color-neutral-100:#1B1D1F;
$color-neutral-90: #2A3033;
$color-neutral-80: #3C4449;
$color-neutral-70: #47535A;
$color-neutral-60: #5B6971;
$color-neutral-50: #75848C;
$color-neutral-40: #9BA8AD;
$color-neutral-30: #C1CBCE;
$color-neutral-20: #D0D9DB;
$color-neutral-10: #E6ECED;
$color-neutral-05: #F2F7F7;
$color-neutral-00: #FFFFFF;

$color-black: #000;
$color-white: #fff;

/*
    Mode Contrast
*/
$color-contrast-text: #fff;
$color-contrast-black: #000;
$color-contrast-yellow: #FFF000;
$color-focus: #3E98FE;